
html,body {
  background: white;
  color: white;
  overflow: hidden;
  height:100%;
  width:100%;

}

.hidden {
  display: none;
}


#lobby {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  z-index: 5000;
}

#lobby input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  text-align: center;
}

#lobby button {
  padding: 12px 22px;
  border-radius: 10px;
  border: none;
  background: #444;
  color: white;
  font-size: 18px;
}

#startBtn {
  display: none;
}

/* Status */
#status {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3000;
  font-size: 18px;
  color:black;
}
#gameUI {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}




canvas {
  width: 100%;
}
