body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: #f7f7f7;
  font-family: sans-serif;
}

.game {
  position: relative;
  width: 800px;
  height: 200px;
  border: 2px solid #000;
  overflow: hidden;
  background: #fff;
}

.dino {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 40px;
  height: 40px;
  background-color: #333;
}

.cactus {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 40px;
  background-color: green;
  animation: moveCactus 2s linear infinite;
}

@keyframes moveCactus {
  from { right: -20px; }
  to { right: 800px; }
}
