body {
  background: #111;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  color: white;
  font-family: sans-serif;
}

#status {
  margin: 10px;
}

#track {
  position: relative;
  width: 100vw;
  height: calc(100vh - 150px);
  overflow: hidden;
}

.car {
  position: absolute;
  width: 60px;
  height: 90px;
}

#controls {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

#controls button {
  background: #444;
  color: white;
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}
